.call-to-action-section {
  padding: 100px 0;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 48px;
    font-weight: bold;
    width: 700px;
    margin-bottom: 20px;
  }

  .text {
    width: 500px;
  }
}
