.banner {
  background-image: url('../images/volunteers-team-supporting-disabled-humanitarian-material-assistance-community-helping-old-sick-people-donation-food-clothes-charity-vector-concept_176411-1828\ \(1\).avif');
  /* width: 300px; */
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}
img {
  height: 8em;
  box-shadow: -2px 2px rgb(0, 0, 0, 0.85);
}
.card-body {
  width: 18em;
  height: 20em;
  padding: 2em;
  margin: 449px 15px;
  box-shadow: -3px 3px rgb(68, 68, 68, 0.85);
  background-color: rgb(127, 13, 233, 0.75);
  color: #fff;
}

.container {
  display: flex;
}

.btn {
  background-color: #333;
  border: #d79105 1px solid;
  color: #d79105;
}

.btn:hover {
  background-color: #d79105;
  border: black 1px solid;
  color: #333;
}
